<div class="sidebar_box">
	<div class="sidebar_box_header">
		<h2><a href="###">EDI简介</a></h2>
	</div>
</div>
<div class="sidebar_box last_sidebar_box">
	<div class="sidebar_box_header">
		<h2 class="has_sub"><a href="###">文档规则</a></h2>
	</div>
	<div class="sidebar_box_content">
		<ul>
			<li><a href="###">宁波港口EDI中心服务收费</a></li>
			<li><a href="###">海上国际集装箱运输电子数据交换管理办法</a></li>
			<li><a href="###">海上国际集装箱运输电子数据交换电子报文替代纸面单证管理规则</a></li>
			<li><a href="###">海上国际集装箱运输电子数据交换报文传递和进出口业务流程规定</a></li>
			<li><a href="###">海上国际集装箱运输电子数据交换协议规则</a></li>
		</ul>
	</div>
</div>