<div class="sidebar_box">
	<div class="sidebar_box_content">
		<ul>
			<li class="active"><a href="###">国检查验作业流动情况</a></li>
			<li><a href="###">通达堆场视频监控</a></li>
			<li><a href="###">大港新世纪海关视频监控</a></li>
			<li><a href="###">海铁箱量统计</a></li>
			<li><a href="###">海铁火车车次维护</a></li>
			<li><a href="###">海铁综合查询</a></li>
			<li><a href="###">内支线转码头查询统计</a></li>
			<li><a href="###">船舶动态计划查询</a></li>
			<li><a href="###">船舶历史信息查询</a></li>
			<li><a href="###">集装箱月度船期预告</a></li>
			<li><a href="###">在场集装箱信息查询</a></li>
			<li><a href="###">在场温控箱巡查记录查询</a></li>
			<li><a href="###">在场危险品箱信息查询</a></li>
			<li><a href="###">集卡历史信息查询</a></li>
			<li><a href="###">出口进箱截止-截单时间查询</a></li>
			<li><a href="###">Excel上载生成船图舱单文件</a></li>
			<li><a href="###">驳船转码头EXCEL上传申报</a></li>
			<li><a href="###">驳船转码头综合查询</a></li>
		</ul>
	</div>
</div>
