<div class="sidebar_box">
	<div class="sidebar_box_header">
		<h2 class="has_sub"><a href="###">动态查询</a></h2>
	</div>
	<div class="sidebar_box_content">
		<ul>
			<li><a href="###">船公司代码</a></li>
			<li><a href="###">箱主代码</a></li>
			<li><a href="###">航线代码</a></li>
			<li><a href="###">国别代码</a></li>
			<li><a href="###">CFS集装箱报文流转图示</a></li>
		</ul>
	</div>
</div>
<div class="sidebar_box">
	<div class="sidebar_box_header">
		<h2 class="has_sub"><a href="###">代码规则</a></h2>
	</div>
	<div class="sidebar_box_content">
		<ul>
			<li><a href="###">集装箱箱型尺寸代码</a></li>
			<li><a href="###">集装箱类型</a></li>
			<li><a href="###">尺寸代码</a></li>
			<li><a href="###">类型与尺寸的查询参考表</a></li>
			<li><a href="###">船舶名称代码</a></li>
			<li><a href="###">EDI平台文件说明</a></li>
		</ul>
	</div>
</div>
<div class="sidebar_box">
	<div class="sidebar_box_header">
		<h2><a href="###">代码下载</a></h2>
	</div>
</div>
<div class="sidebar_box last_sidebar_box">
	<div class="sidebar_box_header">
		<h2><a href="###">报文下载</a></h2>
	</div>
</div>