.sidebar {
	position:absolute;
	left:0;
	top:-75px;
	width:220px;
	.page_title {
		@extend %fwidth;
		@include prefix(border-radius,7px 7px 0 0);
		height:100px;
		background-color:#286eb6;
		text-align:center;
		color:#fff;
		line-height:100px;
		font: {
			size:$baseLargest;
			family:$fontYaHei
		};
	}
	.sidebar_box {
		@include border(bottom);
		.sidebar_box_header  {
			h2 {
				font-size:$baseMiddle;
				font-weight:bold;
				padding:0 20px;
				a {
					@include display;
					padding:20px 0;
					color:$baseLinkColor;
				}
				&.has_sub a{
					padding-bottom:0;
					//color:$baseHoverColor;
				}
			}
		}

		.sidebar_box_content {
			padding:10px 0 0;
			ul li {
				padding-bottom:10px;
				line-height:20px;
				a {
					@include display;
					padding:10px 20px;
					color:$baseLinkColor;
					&:hover {
						color:#286eb6;
					}
				}
				&.active {
					a {
						@include border(left,$width:2px,$color:#399c0b);
						background-color:#dcebf7;
						color:#286eb6;
					}
				}
			}
		}
		
	}
	.last_sidebar_box {
		border:0;
	}
}