<div class="content download_content">
	<div class="page_header">
		<b class="page_name">EDI相关下载</b>
		<div class="now_position"><span>当前位置:</span><a href="###">首页</a><span>&gt;</span><a href="###">相关下载</a></div>
	</div>
	<div class="download_body">
		<ul class="download_list">
			<li>
				<span class="download_name">正式订舱报文</span>
				<a href="###" class="download_button">下载<i class="i21"></i></a>
			</li>
			<li>
				<span class="download_name">订舱确认报文</span>
				<a href="###" class="download_button">下载<i class="i21"></i></a>
			</li>
			<li>
				<span class="download_name">装船指示报文</span>
				<a href="###" class="download_button">下载<i class="i21"></i></a>
			</li>
			<li>
				<span class="download_name">正式订舱报文</span>
				<a href="###" class="download_button">下载<i class="i21"></i></a>
			</li>
			<li>
				<span class="download_name important_item">订舱确认报文</span>
				<a href="###" class="download_button">下载<i class="i21"></i></a>
			</li>
			<li>
				<span class="download_name">装船指示报文</span>
				<a href="###" class="download_button">下载<i class="i21"></i></a>
			</li>
		</ul>
	</div>
</div>