
<!-- footer_top -->
<div class="footer_top">
	<div class="footer_top_inner">
		<div class="fd_link">
			<span>友情链接：</span>
			<div class="ui_select" 
				data-select-header=".ui_select_text"
				data-select-content=".ui_select_options"
				data-select-icon=true
			>
				<p class="ui_select_text"><span class="ui_select_default">-友情链接-</span><i class="i10"></i></p>
				<ul class="ui_select_options">
					<li class="ui_select_options_item"><a href="###">1</a></li>
					<li class="ui_select_options_item"><a href="###">2</a></li>
					<li class="ui_select_options_item"><a href="###">3</a></li>
				</ul>
			</div>
		</div>
		<div class="qr_code"><i class="i17"></i>微信扫码关注我们
			<div class="qr_wrap">
				<i class="i18"></i>
				<img src="imgs/qr.gif" alt="">
			</div>
		</div>
	</div>
</div>
<!--/footer_top -->