
<!--banner-->
<div id="J_Banner" class="banner">
	<div class="banner_inner cycle-slideshow"
		data-cycle-log=false 
		data-cycle-slides=">.banner_item"
		data-cycle-fx="fadeout"
		data-cycle-pause-on-hover="true"
		data-cycle-pager=".banner_button"
		data-cycle-pager-template="<a href='###'></a>"
		data-cycle-speed=500
	>
		<div class="banner_item">
			<img src="imgs/banner1.jpg" alt="">
		</div>
		<div class="banner_item">
			<img src="imgs/banner2.jpg" alt="">
		</div>
		<div class="banner_item">
			<img src="imgs/banner3.jpg" alt="">
		</div>
		<div class="banner_item">
			<img src="imgs/banner4.jpg" alt="">
		</div>
	</div>
	<div class="banner_button"></div>
</div>
<!--/banner -->