
<!-- latest_news -->
<div class="latest_news">
	<div class="lastest_news_inner">
		<i class="i2"></i>
		<div class="lastest_news_list" >
			<div class="cycle-slideshow" 
					data-cycle-log=false 
					data-cycle-fx="scrollVert" 
					data-cycle-slides=">ul"
					data-cycle-pause-on-hover="true"
			>
				<ul>
					<li><i class="i1"></i><a href="###">1宁波港携手生意宝率先实现“互联网+港口”… </a><span>2015.08.02</span></li>
					<li><i class="i1"></i><a href="###">2宁波港携手生意宝率先实现“互联网+港口”… </a><span>2015.08.02</span></li>
				</ul>
				<ul>
					<li><i class="i1"></i><a href="###">3宁波港携手生意宝率先实现“互联网+港口”… </a><span>2015.08.02</span></li>
					<li><i class="i1"></i><a href="###">4宁波港携手生意宝率先实现“互联网+港口”… </a><span>2015.08.02</span></li>
				</ul>
			</div>
		</div>
		<a href="###" class="news_more">更多新闻 &gt;</a>
	</div>
</div>
<!--/latest_news -->