
<!-- content -->
<div class="content">
	<div class="now_position">
		<span>当前位置:</span><a href="###">首页</a><span>&gt;</span><a href="###">报文流转</a>
	</div>
	<div class="content_item">
		<div class="content_item_header">
			<span>进口船图/舱单报文流转图示</span>
		</div>
		<div class="content_item_content">
<b>1.</b> 船代发送进口船图给港区和外理。<br/><br/>

<b>2.</b> 船代发送进口舱单给港区和海关。<br/><br/>
 
<b>3.</b> 港区将形成的卸船报告发送给船代。（此时EDI用户可以在EDI中心主页查到进口箱的卸船信息）<br/><br/>

<b>4.</b> 外理发送确认后的船图给海关。（EDI用户随时可以在EDI中心主页查讯单箱历史信息）<br/><br/>
<img src="imgs/pic1.jpg" alt=""> 
		</div>
	</div>
	
</div>
<!--/content -->