body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object {
    padding: 0;
    margin: 0; 
}
body{
	@include font($fontFamily:$fontFamily);
	line-height:$baseLineHeight;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img, abbr {
    border: 0;
}
ol,ul { 
    list-style: none; 
} 
h1,h2,h3,h4,h5,h6 { 
    @include font(100%);
}
a{
	@include decoration;
	img,
	&:hover img,
	&:focus{
		outline:$outline
	}
}
input:focus{
	outline:$outline
}
