
<!-- content -->
<div class="content">
	<div class="now_position">
		<span>当前位置:</span><a href="###">首页</a><span>&gt;</span><a href="###">报文代码规则</a>
	</div>
	<div class="content_item">
		<div class="content_item_header">
			<span>EDI简介</span>
		</div>
		<div class="content_item_content">
	　　宁波港口EDI中心始建于1995年，是国家“九五”重点科技攻关项目《国际集装箱运输电子信息传输和运作系统及示范工程》的示范单位之一，EDI中心的建成为宁波口岸的港口码头、船公司船代、集疏运场站、理货、货主及代理和监管职能部门提供了高效、便利、快捷、准确、经济的电子数据交换服务。经过多年的推广应用，EDI应用覆盖了宁波口岸多个物流节点，网站查询、一站式服务和报文传输这三大主要服务内容也得到充分的实践。宁波港口EDI中心是宁波港口物流信息化建设的重要组成部分，有效地改善了宁波口岸集装箱运作环境。<br/><br/>
	
	　　2006年8月，宁波港口EDI中心完成了对数据交换平台和应用系统的全面升级，新系统采用全国首创的“M+1+N”报文转换模式。该模式的创建，使得EDI中心无论在报文处理能力上，还是在提升增值服务能力上都有了根本性的提高。另外，宁波港口EDI中心利用这次升级机会，还实现了统一用户认证和单点登录技术，极大地改善了用户访问网站和各业务系统的友好体验。此次升级项目，荣获了2007年11月11日-12日在北京召开的首届中国港口协会科学技术奖二等奖。<br/><br/>
	
	　　宁波港口EDI中心还开发和实施了集装箱智能闸口系统、CFS系统以及车队管理系统等。智能闸口系统实现了码头闸口所有进出场作业的实时控制和管理，使闸口管理由人工方式转为“无人”自动化方式的革命性变化。CFS系统以及车队管理系统分别为集装箱场站企业和集卡车队企业的信息化综合管理提供了一套整体的解决方案。系统的成功实施促进了相关企业运营效率的提高和对外服务水平的提升，从而有效增强了口岸综合竞争力。<br/><br/>
	
	　　随着港口物流的快速发展，宁波港已从传统物流转变成为现代物流。宁波港口EDI中心作为宁波港信息通信有限公司的事业部，不断提升和完善中心的各项服务和功能，在“智慧港口、精彩信通”企业精神的倡导下，全面推进“81890”统一服务平台，并积极参与到港口现代物流系统的建设，为加快企业转型升级、提升发展水平、打造国际物流港口做出重要的贡献。<br/><br/>
			<img src="imgs/edia.jpg" alt="">
		</div>
	</div>
	<div class="content_item">
		<div class="content_item_header">
			<span>宁波港口EDI中心服务收费</span>
		</div>
		<div class="content_item_content"><b>一、收费项目</b><br/>
宁波港口EDI中心对船图、舱单报文作为有偿服务对象，只收取船图、舱单报文传输的信息处理费，其它费用暂时免收。<br/><br/><b>二、收费标准</b><br/>
信息处理费付费标准为人民币1.5元/千字节。<br/><br/><b>三、收费依据</b><br/>EDI服务收费依据是交通部水运管理司水运价字【1998】150号文、《宁波港电子数据交换收费标准》。
		</div>
	</div>
	<div class="content_item">
		<div class="content_item_header">
			<span>海上国际集装箱运输电子数据交换管理办法</span>
		</div>
		<div class="content_item_content">
现发布《海上国际集装箱运输电子数据交换管理办法》、《海上国际集装箱运输电子数据交换协议规则》、《海上国际集装箱运输电子数据交换电子报文替代纸面单证管理规则》、《海上国际集装箱运输电子数据交换很文传递和进出日业务流程规定》。以上规定自发布之日起施行。<br/> 
<b>第一章 总 则</b> <br/> 
<b>第一条</b> 为了加强海上国际集装箱运输电子数据交换管理，保障海上国际集装箱运输电子数据交换的运行秩序和当事人的合法权益，根据《中华人民共和国海上集装箱运输管理规定》等国家有关法律、法规和国际惯例，结合我国海上国际集装箱运输实际情况，制订本办法。<br/>  
<b>第二条</b> 本办法所称的海上国际集装箱运输电子数据交换（简称EDI），是指从事海上国际集装箱运输的有关当事人按照协议或规定，对具有一定结构特征的标准信息，经数据通信网络，在各自的电子计算机系统之间进行交换和处理。<br/>  
<b>第三条</b> 本办法适用于在中华人民共和国境内设立的海上国际集装箱运输企业以及与海上国际集装箱运输相关的部门和单位，包括：从事海上国际集装箱运输的航运企业、港口装卸企业、外轮理货企业、船舶代理企业、货运代理企业、内陆中转站、货运站、陆上运输企业、场站企业和多式联运企 业，以及EDI中心等。<br/>  
在中国境内从事海上国际集装箱运输经营活动的外资企业也应遵守本办法。 
<b>第四条</b> 中华人民共和国交通部主管全国海上国际集装箱运输EDI的管理工作，其主要职责： <br/> 
（一）制订EDI管理的方针、政策和发展规划； <br/> 
（二）制订EDI管理的规章、技术规范和标准； <br/> 
（三）制订EDI运行的费目、费率和费收规则； <br/> 
（四）审批EDI中心的组建。 <br/> 
口岸所在地省、自治区、直辖市交通主管部问在本行政区域EDI理中的主要职责： <br/> 
（一）积极推动EDI工作的发展； <br/> 
（二）负责EDI的协调工作； <br/> 
（三）负责受理EDI用户的投诉工作； <br/> 
<b>第五条</b> EDI中心的基本职责是： <br/> 
（一）负责将用户发送的电子报文传输至接收方；<br/>  
（二）负责存储用户发送至EDI中心的报文信息；<br/>  
（三）负责对转发的报文信息的安全保密工作，不得泄露、修改和提取任何未经书面授权的经营机密信息； <br/> 
（四）负责EDI的增值服务； <br/> 
（五）除不可抗拒力之外，负责EDI中心的设备处于良好的不间断的工作状态； <br/> 
（六）负责受理和审批用户的入网书面申请，并报口岸所在地省、自治区、直辖市交通主管部门备案； <br/> 
（七）负责新的电子报文的研究和开发，掌握电子报文的变更情况，并对变更的信息及时进行处理； <br/> 
（八）负责对EDI用户进行培训； <br/> 
（九）负责承担为司法部门提供法律举证； <br/> 
（十）EDI 中心必须与用户签订协议，协议应符合《海上国际集装箱运输电子数据交换协议规则》并严格履行,用户之间签订有关 EDI业务的协 议必须向EDI中心备案； <br/> 
（十一）EDI中心有权拒绝接收、处理、存储、交换和传输不按本办法规定的电子信息。 <br/> 
<b>第六条</b> 入网用户应遵守以下规定：<br/>  
（一）履行所签协议的各项规定并按规定缴纳有关费用；<br/>  
（二）确保发送和接收电子报文信息的设施保持良好稳定有效的运行状态；<br/>  
（三）按规定的报文格式和通信标准进行电子数据交换；<br/> 
（四）确保进入EDI网络系统的电子数据报文的及时、准确和完整。<br/>  
<b>第七条</b> 凡从事海上国际集装箱运输的企业以及与海上国际集装箱运输相关的部门和单位都应纳入所相关的部门和单位都应纳入所在口岸或经营地的港航EDI网络。 <br/> 
<b>第二章 资质管理</b> <br/> 
<b>第八条</b> EDI中心是负责口岸海上国际集装箱运输EDI网络电子数据传输、处理和运作。实行有偿服务的企业法人 <br/> 
<b>第九条</b> EDI中心设置应符合交通部编制的EDI发展规划。一个口岸地区原则上应由港航企业组建一个EDI中心。 <br/> 
<b>第十条</b> EDI中心的设立实行经营许可证制度。<br/>  
<b>第十一条</b> 设立EDI中心必须具备以下基本条件： <br/> 
（一）经行业主管部门批准的有关文件和证明材料； <br/> 
（二）有与其服务范围相适应的注册资金； <br/> 
（三）有固定的办公场所； <br/> 
（四）有与其服务范围相适应的软硬件平台和良好的通信环境；<br/>  
（五）有经培训考核合格的从业人员； <br/> 
（六）国家法律、法规规定的其它条件。 <br/> 
<b>第十二条</b> EDI中心应具备以下基本技术条件：<br/>  
（一）电子数据交换；<br/>  
（二）存证； <br/> 
（三）报文标准格式转换； <br/> 
（四）安全保密； <br/> 
（五）提供信息查询和信息增值服务； <br/> 
（六）提供技术咨询服务； <br/> 
（七）提供昼夜连续服务； <br/> 
（八）对EDI网络进行维护和扩展； <br/> 
（九）提供报关、报验转换功能。 <br/> 
<b>第十三条</b> 组建EDI中心申报的材料： <br/> 
（一）申请报告； <br/> 
（二）可行性分析报告； <br/> 
（三）合同； <br/> 
（四）章程； <br/> 
（五）上级主管部门的批文； <br/> 
（六）资信证明； <br/> 
（七）行业主管部门要求提供的其他材料。 <br/> 
<b>第十四条</b> 部直属和双重领导单位申请设置EDI中心应将书面申请报告连同符合要求的其他申报材料报交通部审批。 <br/> 
其他单位申请设置EDI中心应将书面申请报告报当地省、自治区、直辖市交通主管部门，当地省、自治区、直辖市交通主管部门审核后，报交通部审批。 
交通部在收到申报材料的次日起３０天内，对符合条件批准设置EDI中心的发给批准文件和经营许可证；对不予批准的发出书面批复告知。 
<b>第十五条</b> EDI网络内的工作人员须经EDI中心专门培训、考核，合格者须持有EDI中心颁发的上岗证书，方可上岗操作。 
EDI中心应对上岗人员进行定期或不定期的轮训和考核。 
EDI中心有权对严重失职者收缴其上岗证书。 <br/> 
<b>第十六条</b> 纳入EDI网络的用户应具备以下基本条件：<br/>  
（一）是本办法所列企业、部门和单位及承认本办法的其它单位； <br/> 
（二）有可稳定运行的电子计算机设备和良好的通讯环境； <br/> 
（三）有持有EDI中心颁发的上岗证书的专业管理人员； <br/> 
（四）有完善的管理制度。 <br/> 
<b>第十七条</b> 用户入网，按以下规定办理入网手续：<br/>  
（一）用户向所在地的EDI中心提出书面入网申请，并提供有关证明文件和资料； <br/> 
（二）EDI中心对入网用户的申请进行审查，对符合条件的在十五天内发出书面批准通知书，并抄送所在地省,自治区、直辖市交通主管部门备案；对不符合条件的，发出重新整改、申报的书面通知； <br/> 
（三）入网用户一经批准，由EDI中心发给EDI入网证书，并登录入网户口，给用户发放密码。 <br/> 
<b>第十八条</b> 经批准入网的用户，应当按照交通部《海上国际集装箱运输电子数据交换协议规则》的规定，与EDI中心以及其他有关用户签订EDI协议。<br/>  
<b>第十九条</b> <br/> 入网用户从事EDI运行管理的岗位人员需经EDI中心培训，培训的主要内容是：<br/>  
（一）安全、保密知识； <br/> 
（二）有关法规和职业道德； <br/> 
（三）电子报文的格式； <br/> 
（四）EDI业务流程和操作方法； <br/> 
（五）特殊情况的处理程序。 <br/> 
培训结束后，EDI 中心应对培训人员进行结业考试对考试合格的，发给 合格证书。 <br/> 
<b>第三章 运行管理</b> <br/> 
<b>第二十条</b> EDI 的电子报文替代纸面单证必须符合《海上国际集装箱运输电子数据交换电子报文替代纸面单证规则》 的规定。<br/>  
<b>第二十一条</b> EDI 的业务流转必须符合《海上国际集装箱运输电子数据交换报文传递和进出口业务流程规定》。 <br/> 
<b>第二十二条</b> EDI 接收、处理、存储、交换和传输的电子报文应符合交 通部有关规范要求。 <br/> 
<b>第二十三条</b> 符合规范要求的电子报文具有与书面单证同等的效力。<br/>  
<b>第二十四条</b> EDI 报文格式应采用UN/EDIFACT国际标准或国家技术监督 局颁布的国家标准。无国际标准和国家标准时，可采用行业标准或协议标准， 但在通信中应符合数据交换和自动处理的要求。 <br/> 
<b>第二十五条</b> EDI报文的代码数据应采用《EDI- FACT代码表》所提供的 国际代码标准或国家标准。无国际标准和国家标准时，可采用行业标准或协 议约定的标准。 <br/> 
<b>第二十六条</b> 入网用户需对报文格式与数据结构进行变更，必须按规定 程序，经EDI中心等有关方认可后方可变更。<br/>  
<b>第二十七条</b> EDI 中心及其用户的电子数据交换和传输系统必须安全、 可靠，通信线路必须畅通无阻，数据和文档 不得丢失。电子数据交换和传输 系统除人力不可抗拒因素外，在任何时候、任何覆盖点均不得失效。 <br/> 
<b>第二十八条</b> 电子数据交换和传输系统的运行必须制订严格的保密制度，对电子报文特别是对EDI中心数据库的访问应设定密级，为用户保密。<br/>  
<b>第二十九条</b> 电子数据交换和传输系统在运行中发生除人力不可抗拒因素外的通信停顿，数据或文档丢失，泄露或失密等事故,EDI中心及相关单位 应承担相应的责任。 <br/> 
<b>第三十条</b> 入网用户的 EDI设备必须实行专人操作。杜绝不洁盘片及文件运作，防止计算机病毒侵入EDI网络。发现计算机网络病毒，应及时报告公安部门和EDI中心，并采取相应的措施。造成计算机病毒侵入的直接责任者应承担相应的责任。 <br/> 
<b>第三十一条</b> EDI中心可根据信息传输、处理和存储时间、信息量要求和密级进行收费。收费内容分别有开户、初装 、通讯、信息处理、查询、 检测和超时超员培训费用。 <br/> 
<b>第三十二条</b> EDI中心的费收应按交通部制订的费目和费率执行，并应用交通、税务部门制订的统一发票。 <br/> 
<b>第三十二条</b> EDI 通信方面的收费按国家电信部门的收费标准执行。对 提供为社会服务的公共信息不得向服务对象收费。 <br/> 
<b>第四章 附 则</b> <br/> 
<b>第三十四条</b> 本办法的解释权属交通部。 <br/> 
<b>第三十五条</b> 本办法自公布之日起施行。
		</div>
	</div>
</div>
<!--/content -->