
<!-- 驳船转码头综合查询 -->
<div class="service_form">
	<table cellspacing="0" cellpadding="0" width="100%" class="form_group">
	<col width="130" />
	<col width=""/>
	<col width=""/>
	<col width=""/>
		<tr>
			<th class="bb">申报单编号</th>
			<td class="bl bb">
				<input type="text" name="" id="" class="form_ipt form_midd_w">
			</td>
			<th class="bl bb">出场码头</th>
			<td class="bl bb">
				<select name="" id="" class="form_sel form_base_w">
					<option value="1">aaa</option>
				</select>
			</td>
		</tr>
		<tr>
			<th class="bb">进场码头</th>
			<td class="bl bb">
				<select name="" id="" class="form_sel form_base_w">
					<option value="1">aaa</option>
				</select>
			</td>
			<th class="bl bb">海关审批时间</th>
			<td class="bl bb">
				<input type="text" name="" id="" class="form_ipt form_midd_w">
			</td>
		</tr>
		<tr>
			<th class="bb">一程船名/航次/UN代码</th>
			<td class="bl bb" colspan="3">
				<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="button" value="船名选择" class="search_button2">
			</td>
		</tr>
		<tr>
			<th class="bb">二程船名/航次/UN代码</th>
			<td class="bl bb" colspan="3">
				<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="button" value="船名选择" class="search_button2">
			</td>
		</tr>
		<tr>
			<th class="bb">驳船船名/进口航次/出口航次/UN代码</th>
			<td class="bl bb" colspan="3">
				<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="text" name="" id="" class="form_ipt form_midd3_w">　<input type="text" name="" id="" class="form_ipt form_midd3_w">
			</td>
		</tr>
		<tr>
			<th class="bb">船代申请时间</th>
			<td class="bl bb" colspan="3">
				<input type="text" name="" id="" class="form_ipt form_larger_w">
				<span class="input_text">(请选择船名/航次)</span>
			</td>
		</tr>
		<tr>
			<td class="bb" colspan="4">
				<div class="input_group form_button">
					<input type="button" value="查询" class="search_button">
				</div>
			</td>
		</tr>
		
	</table>
</div>
<div class="search_result">

	<div class="has_bor">
		<div class="table_scroll_a">
		<!-- 字段多的时候可以调整table的width,默认为100% -->
			<table cellpadding="0" cellspacing="0" width="100%" class="page_table">
				<thead class="page_table_header">
					<tr>
						<th class="nbl">字段1</th>
						<th>字段2</th>
						<th>字段3</th>
						<th>字段4</th>
					</tr>
				</thead>
				<tbody class="page_table_body">
					<tr>
						<td class="nbr">1</td>
						<td class="nblr">2</td>
						<td class="nblr">3</td>
						<td class="nbl">4</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pagination_container">
			<!-- @include ../common/_pagination.html -->
		</div>
	</div>
</div>
<!--/驳船转码头综合查询 -->