
<!-- 集装箱水水中转查询 -->
<div class="service_form">
	<table cellspacing="0" cellpadding="0" width="100%" class="form_group">
		<col width="140" />
		<col width="" />
		<col width="140" />
		<col width="" />
		<col width="140" />
		<col width="" />
		<tr>
			<th class="bb">所在码头</th>
			<td class="bl bb"><input type="radio" name="" id="" class="form_rad">镇司　　　<input type="radio" name="" id="" class="form_rad">大榭信业</td>
			<th class="bl bb">箱主代码</th>
			<td class="bl bb">
				<select name="" id="" class="form_sel form_base_w">
					<option value="1">aaa</option>
				</select>
			</td>
			<th class="bl bb">一程码头</th>
			<td class="bl bb">
				<select name="" id="" class="form_sel form_base_w">
					<option value="1">aaa</option>
				</select>
			</td>
		</tr>
		<tr>
			<th class="bb">二程码头</th>
			<td class="bl bb">
				<select name="" id="" class="form_sel form_base_w">
					<option value="1">aaa</option>
				</select>
			</td>
			<th class="bl bb">一程船名/航次</th>
			<td class="bl bb"><input type="text" name="" id="" class="form_ipt form_midd_w"></td>
			<th class="bl bb">二程码头/航次</th>
			<td class="bl bb"><input type="text" name="" id="" class="form_ipt form_midd_w"></td>
		</tr>
		<tr>
			<th class="bb">箱号</th>
			<td class="bl bb"><input type="text" name="" id="" class="form_ipt form_midd_w"></td>
			<th class="bl bb">卸载时间段</th>
			<td class="bl bb">
				<div class="input_group time_group">
					<input type="text" name="" id="">
					<span class="group_text">-</span>
					<input type="text" name="" id="">
				</div>
			</td>
			<th class="bl bb">箱状态</th>
			<td class="bl bb"><input type="checkbox" name="" id="" class="form_rad">V　　<input type="checkbox" name="" id="" class="form_rad">Y　　<input type="checkbox" name="" id="" class="form_rad">T　　<input type="checkbox" name="" id="" class="form_rad">O</td>
		</tr>
		<tr>
			<td class="bb" colspan="6">
				<div class="input_group form_button">
					<input type="button" value="查询" class="search_button">
					<div class="page_sel_wrap">
						<b>每页行数</b>
						<select name="" id="" class="form_sel form_small_w">
							<option value="10">10</option>
						</select>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
<div class="search_result">

	<div class="has_bor">
		<div class="table_scroll_a">
		<!-- 字段多的时候可以调整table的width,默认为100% -->
			<table cellpadding="0" cellspacing="0" width="100%" class="page_table">
				<thead class="page_table_header">
					<tr>
						<th class="nbl">字段1</th>
						<th>字段2</th>
						<th>字段3</th>
						<th>字段4</th>
					</tr>
				</thead>
				<tbody class="page_table_body">
					<tr>
						<td class="nbr">1</td>
						<td class="nblr">2</td>
						<td class="nblr">3</td>
						<td class="nbl">4</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="pagination_container">
			<!-- @include ../common/_pagination.html -->
		</div>
	</div>
</div>
<!--/集装箱水水中转查询 -->